.feature {
  padding: 5rem 0;
  position: relative;
	@include mediaTablet {
		padding: 3rem 0;
	}
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 60%;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../img/feature/feature-bg.jpg);
    z-index: -1;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__accent {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 2rem;
    color: $text-accent;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
  }

  &__title {
    color: $light;
  }

  &__grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    @include mediaTablet {
      grid-template-columns: 1fr;
    }
  }

  &__content {
    padding: 2rem;
    background-color: $light;
    transform: translateX(2rem);
    @include mediaTablet {
      transform: none;
    }

    & p {
      color: $primary;
      font-size: 1.1rem;
      font-family: $font-secondary;
      padding-bottom: 1rem;
    }
  }
  &__video {
    width: 100%;
  }
}
