.header {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0)
    ),
    url(../img/header/header.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
	&__subtitle{
		font-size: 1.3rem;
	}
	&__title{
		font-weight: 400;
		font-size: 3rem;
		margin-bottom: 1rem;
		line-height: 1;
	}
	
}
.header__content {
  text-transform: uppercase;
  padding: 10rem 0;
	@include mediaMobile {
		padding: 9rem 0 5rem;
	}
}
