nav {
  padding: 2.5rem 1rem;
  max-width: 900px;
  margin: 0 auto;
}
.nav__links {
	max-height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
	width: 100%;
	& a{
		font-size: 1.3rem;

	}
}
.nav__logo {
  max-width: 180px;
	max-height: 70px;
}
