@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Poppins:wght@400;500&display=swap");
html {
	scroll-behavior: smooth;
}
body {
  font-family: $font-primary;
  color: $primary;
	
}
.container {
  padding: 0 30px;
  max-width: 1260px;
  margin: 0 auto;
  color: $light;
	@include mediaMobile {
		padding: 0 10px;
	}
}
a {
  color: $light;
  transition: 0.2s ease-in;
  &:hover {
    color: $light-hover;
  }
}
.btn {
  padding: 1rem 1.5rem;
  background-color: $primary;
  transition: 0.2s ease-in;
  text-transform: uppercase;
  font-family: $font-secondary;
  border-radius: 7px;
  color: $light;
	font-size: 0.9rem;
  &:hover {
    background-color: $dark;
  }
}
.section__header {
  color: $dark;
  font-size: 2rem;
  width: fit-content;
  margin: 0 auto 1rem;
  padding: 0 1rem;
  position: relative;
  &::before {
    @include stripBefore;
  }
  &::after {
    @include stripAfter;
  }
}
