//Fonts
$font-primary: "Oswald", sans-serif;
$font-secondary: "Poppins", sans-serif;
//Colors
$primary: #161616;
$light: #ffffff;
$light-hover: #cd8d03a3;
$dark: #000000;
$text: #767268;
$text-accent: #b82049;
