//Fonts
$font-primary: "Oswald", sans-serif;
$font-secondary: "Poppins", sans-serif;
//Colors
$primary: #161616;
$light: #ffffff;
$light-hover: #d29819;
$dark: #000000;
$text: #767268;
$text-accent: #b82049;
//Breakpoints
$tablet: 767px;
$mobile: 575px;

